$linkHoverColor: #ff6961;
$transitionAnimation: 0.4s ease;
$containerMargin: 0px 15%;
$containerPadding: 28px 0px;
$containerBorderBottomDark: 2px solid #ffffff;
$containerBorderBottomLight: 2px solid #000000;

@mixin darkMode {
  transition: $transitionAnimation;
  background-color: #000000;
  color: #ffffff;
  border-bottom: $containerBorderBottomDark;
  a {
    color: #ffffff;
    &:hover {
      color: $linkHoverColor;
    }
  }
}
@mixin lightMode {
  transition: $transitionAnimation;
  background-color: #ffff;
  color: #000000;
  border-bottom: $containerBorderBottomLight;
  a {
    color: #000000;
    &:hover {
      color: $linkHoverColor;
    }
  }
}
@mixin containerDimensions {
  padding: $containerPadding;
  margin: $containerMargin;
}