$transitionTime: 0.75s;

.ts{
  &-list {
    display:flex;
    justify-content: center;
  }
  &-wrapper {
    color: #000000;
    width: 80vmin;
    aspect-ratio: 70 / 30;
    display: flex;
    background-color: transparent;
    position: relative;
    border-radius: 4px;
  }
  &-js {
    width: 11.11%;
    background-color: #edd431;
  }
  &-css {
    width: 11.11%;
    background-color: #2449d8;
  }
  &-html {
    width: 11.11%;
    background-color: #e44d27;
  }
  &-react {
    width: 11.11%;
    background-color: #62dafc;
  }
  &-git {
    width: 11.11%;
    background-color: #212121;
  }
  &-sql {
    width: 11.11%;
    background-color: #0079d6;
  }
  &-node{
    width: 11.11%;
    background-color: #84ce25;
  }
  &-firebase{
    width: 11.11%;
    background-color: #ffa816;
  }
  &-sass {
    width: 11.11%;
    background-color: #ce679a;
  }
  &-box {
    opacity: 0;
    text-align: center;
    color: #ffffff;
    & p {
      background-color: #0000009e;
      padding: 3px 4px;
    }
    img {
      width: 64px;
      height: 64px;
      background-color: #ffffff;
    }
  }
  &-item {
    display:flex;
    justify-content: center;
    align-items: center;
    transition: width $transitionTime;
    &:hover {
      width:28%;
      transition: width $transitionTime;
      .ts-box {
        opacity: 1;
        transition: opacity 1s;
      }
    }
  }
  &-msg {
    padding-bottom: 24px;
  }  
}
