@import "../../breakpoints/breakpoints.scss";

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  img {
    padding-bottom: 28px;
  }
  p {
    margin: 12px;
  }
  & span {
    font-weight: bold;
  }
  @include media('<=phone') {
    padding-top: 28px;
    img {
      max-width: 80%;
    }
  }
}