@import "../../styles/breakpoints.scss";

$divBorderWidth: 15%;

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(70vw);
  p {
    margin: 12px;
  }
  & span {
    font-weight: bold;
  }
  padding-top: 28px;
  @include media('<=phone') {
    img {
      max-width: 80%;
    }
  }
}
img {
  border-radius: 4px;
  @include media('<=phone') {
    max-width: 80%;
  }
}
.container-home {
  padding: 28px 0px;
  border-bottom: 2px solid #ffffff;
  margin: 0px $divBorderWidth;
}