@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  & span {
    font-weight: bold;
  }
  padding-top: 28px;
  @include media('<=phone') {
    img {
      max-width: 80%;
    }
  }
}
img {
  border-radius: 4px;
  width: 440px;
  @include media('<=phone') {
    max-width: 80%;
  }
}
.container-home {
  @include containerDimensions;
}