@import "../../breakpoints/breakpoints.scss";

$linkHoverColor: #ff6961;
$navbarSidesMargin: 40px;

.navbar {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 40px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  list-style-type: none;
  font-size: 16px;
  position:fixed;
  top:0;
  background-color: #000000;
  @include media('<=phone') {
    display: block;
    border-bottom: 1px solid #ffffff;
  }
  .logo {
    font-weight: bold;
    display: flex;
    margin-left: $navbarSidesMargin;
    white-space: nowrap;
    @include media('<=phone') {
      display: none;
    }
  }
  a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 40px;
    justify-content: flex-start;
    text-align: right;
    &:hover {
      color: $linkHoverColor;
    }
    @include media('<=phone') {
      margin-left:0px;
      margin-right:0px;
    }
  }
  &-links {
    width: 100%;
    display: block;
    text-align: right;
    padding-right: $navbarSidesMargin;
    @include media('<=phone') {
      padding-top: 24px;
      padding-bottom: 24px;
      display: flex;
      justify-content: space-evenly;
      padding-right: 0px;
    }
  }
}