@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  margin: 0;
  font-family: 'Courier Prime', 'Roboto', 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
